doctype5
html
    head
        title XNode - 404 error
        style.
            *{
                font-family: arial, sans-serif;
            }

            body{
                margin:3em;
            }

            h1 {
                font-size: 30px;
                font-weight: 800;
            }

            section, aside {
                font-size: 15px;
            }
            footer {
                margin-top:2em;
                font-size: 12px;
            }
    body
        header
            h1 xnode
        section 404 error
        aside This is custom error view, you can modify it at&nbsp;
            b
                i= e404 + '.jade'
        footer
            p XNode framework. Created by Rikky and Nodejs.vn developers 2013